<?php
// Configuration for your local Faylin installation is done here
// Rename this file to "config.php" and apply your production settings accordingly


// APP SETTINGS

// The base path of the application
$settings['app.basePath'] = '';


// DATABASE SETTINGS

// The database connection of the application, specified as a string representing a Doctrine DBAL connection URL
// See https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
$settings['database.url'] = '<database url>';

// The name of the table where images are stored, specified as a string
$settings['database.table.images'] = 'images';

// The name of the table where tokens are stored, specified as a string
$settings['database.table.tokens'] = 'tokens';

// The name of the table where users are stored, specified as a string
$settings['database.table.users'] = 'users';


// AUTHORIZATION SETTINGS

// The key used for signing JWT tokens, specified as a base64-encoded string
$settings['authorization.signKey'] = '<sign key>';


// FILESYSTEM SETTINGS

// The filesystem adapter of the application, specified as a function that returns a League\Flysystem\FilesystemAdapter instance
// See https://flysystem.thephpleague.com/v2/docs/
$settings['filesystem.adapter'] = function() {
  return new League\Flysystem\Local\LocalFilesystemAdapter(__DIR__ . '/../uploads/');
};


// SNOWFLAKE SETTINGS

// The datacenter id for the snowflake generator, specified as an int in the range 0-31
$settings['snowflake.datacenter'] = 0;

// The worker id for the snowflake generator, specified as an int in the range 0-31
$settings['snowflake.worker'] = 0;

// The epoch for the snowflake generator, specfied as an int representing milliseconds since the Unix epoch
$settings['snowflake.epoch'] = 1288834974657;


// UPLOAD SETTINGS

// The supported upload MIME types with their default extensions, specified as an array of 'mimetype' => 'extensions' pairs
$settings['uploads.supportedContentTypes'] = [
  'image/png' => 'png',
  'image/jpeg' => 'jpg',
  'image/gif' => 'gif',
  'image/webp' => 'webp',
  'image/svg+xml' => 'svg',
];

// The supported upload size, specified as an int representing the size in bytes
$settings['uploads.supportedSize'] = 5242880; // 5 MiB
