<?php
// Configuration for your local Faylin installation is done here
// Rename this file to "config.php" and apply your production settings accordingly


// APP SETTINGS

// The base path of the application
$settings['app.basePath'] = '';

// The supported upload MIME types with their default extensions, specified as an array of 'mimetype' => 'extensions' pairs
$settings['app.supportedContentTypes'] = [
  'image/png' => 'png',
  'image/jpeg' => 'jpg',
  'image/gif' => 'gif',
  'image/webp' => 'webp',
  'image/svg+xml' => 'svg',
];

// The supported upload size, specified as an int representing the size in bytes
$settings['app.supportedSize'] = 5242880; // 5 MiB


// DATABASE SETTINGS

// The MongoDB connection of the application, specified as a string representing a MongoDB connection URI
// See https://docs.mongodb.com/manual/reference/connection-string/
$settings['mongodb.uri'] = '<uri>';

// The name of the MongoDB database, specified as a string
$settings['mongodb.database'] = 'faylin';

// The name of the MongoDB collection where collections are stored, specified as a string
$settings['mongodb.collection.collections'] = 'collections';

// The name of the MongoDB collection where images are stored, specified as a string
$settings['mongodb.collection.images'] = 'images';

// The name of the MongoDB collection where users are stored, specified as a string
$settings['mongodb.collection.users'] = 'users';


// AUTHORIZATION SETTINGS

// The key used for signing JWT tokens, specified as a base64-encoded string
$settings['authorization.signKey'] = '<sign key>';


// FILESYSTEM SETTINGS

// The filesystem adapter of the application, specified as a function that returns a League\Flysystem\FilesystemAdapter instance
// See https://flysystem.thephpleague.com/v2/docs/
$settings['filesystem.adapter'] = function() {
  return new League\Flysystem\Local\LocalFilesystemAdapter(__DIR__ . '/../uploads/');
};


// SNOWFLAKE SETTINGS

// The datacenter id for the snowflake generator, specified as an int in the range 0-31
$settings['snowflake.datacenter'] = 0;

// The worker id for the snowflake generator, specified as an int in the range 0-31
$settings['snowflake.worker'] = 0;

// The epoch for the snowflake generator, specfied as an int representing milliseconds since the Unix epoch
$settings['snowflake.epoch'] = 1288834974657;
