// Import the fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Signika:300,400,700&display=swap');

// Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Custom fonts
$family-primary: 'Montserrat', sans-serif;
$family-secondary: 'Signika', sans-serif;

// Custom colors
$primary: #5Eb2CE;
$primary-light: #ADD8E6;
$success: #B0DB43;
$warning: #F49E4C;
$danger: #AB3428;
$light: #EFF8FA;
$dark: #2A3D45;

$custom-colors: ('primary-light': $primary-light);

// Custom derived colors
$link: $primary;
$link-active: $primary-light;
$link-hover: $primary-light;
$info: $primary-light;

// Set other variables
$body-overflow-y: auto;
$dimensions: 16 24 32 48 64 96 128 192 256;
$section-padding: 1.5rem 1rem;
$section-padding-desktop: 1.5rem 1rem;
$panel-block-color: $dark;
$panel-block-hover-background-color: $light;
$panel-icon-color: $dark;
$toast-opacity: 1.0;
