// Import variables and fonts
@import 'variables';
@import 'bulma';
@import 'image';
@import 'thumbnail';


// Main layout styling
main {
  min-height: calc(100vh - 52px);
}

// Container styling
.container {
  // Set a maximal width on desktop devices
  @media screen and (min-width: $tablet) {
    max-width: $tablet !important;
  }

  // Set a maximal width on widescreen devices
  @media screen and (min-width: $widescreen) {
    max-width: 65vw !important;
  }
}

// Content styling
.content {
  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      @extend .is-family-secondary;
      @extend .has-text-weight-normal;

      @if $i <= 2 {
        @extend .has-text-weight-bold;
      }
    }
  }

  // Image styling
  .image {
    @extend .mx-0;

    &:not(:last-child) {
      @extend .mb-0;
    }

    img {
      @extend .is-block;
    }

    // Avatar image styling
    &.avatar {
      @extend .mx-auto;

      img {
        @extend .is-rounded;
      }
    }
  }

  // Table styling
  .table {
    background: transparent;
  }
}

// Emoji styling
.emoji {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

// Uploading styling
.uploading {
  // Uploadting text
  p {
    color: black;
  }

  // Uploading image
  img {
    max-width: 35vw;
    max-height: 15rem;
  }
}

// Navbar styling
.navbar {
  // Navbar brand
  .navbar-brand {
    @extend .is-family-secondary;
    @extend .is-size-5;
  }

  // Navbar item
  .navbar-item {
    @extend .has-text-primary;
  }
}

// Hero styling
.hero {
  @extend .has-text-centered;
}

// Horizontal separator styling
.bar {
  @extend .has-background-light;
  @extend .m-0;

  height: 2px;
}

// Box styling
.box {
  &.is-panel {
    @extend .is-shadowless;
    @extend .has-background-white-bis;
  }
}

// Dialog styling
.dialog {
  // Modal card footer
  .modal-card .modal-card-foot {
    border-top-color: $border-light;

    // Buttons in the card footer
    .button {
      @extend .has-text-weight-normal;

      &:not([class*="is-"]) {
        @extend .is-white;
      }
    }
  }
}

.icon-text {
  @extend .is-flex-wrap-nowrap;
}

.tab-content {
  @extend .p-0;
}

// Page components styling
.page {
  // Image details styling
  .image-details {
    // Name text for the image thumbnail
    &-name {
      @extend .is-size-4;
      @extend .has-text-weight-bold;
      @extend .mt-0;
    }

    // User name text for the image thumbnail
    &-user-name {
      @extend .is-size-6;
    }

    // Image for the image details
    &-image {
      @extend .my-0;

      // Image element
      img {
        @extend .box;
        @extend .mx-auto;
        @extend .p-0;

        @media screen and (min-width: $tablet) {
          max-height: calc(100vh - 54px - 2rem);
          width: auto;
        }
      }
    }
  }
}
