// Import variables and fonts
@import 'variables';
@import 'bulma';


// Nav layout styling
nav {
}

// Main layout styling
main {
  min-height: calc(100vh - 118px);
}

// Footer layout styling
footer {
  @extend .is-size-7;
  @extend .has-text-centered;
  @extend .has-background-white;
  @extend .py-5;
}

// Container styling
.container {
  // Set a maximal width on desktop devices
  @media screen and (min-width: $tablet) {
    max-width: $tablet !important;
  }

  // Set a maximal width on widescreen devices
  @media screen and (min-width: $widescreen) {
    max-width: 70vw !important;
  }
}

// Content styling
.content {
  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      @extend .is-family-secondary;
      @extend .has-text-weight-normal;
    }
  }

  // Image styling
  img {
    @extend .box;
    @extend .p-0;

    // Uploading image styling
    &.is-uploading {
      @extend .mx-auto;

      max-width: 100%;
      max-height: 10rem;

      opacity: 0.5;
    }
  }
}

// Emoji styling
.emoji {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

// Navbar styling
.navbar {
  // Navbar brand
  .navbar-brand .navbar-item {
    color: $primary !important;
  }
}

// Hero styling
.hero {
  @extend .is-family-secondary;
  @extend .has-text-centered;

  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    z-index: 0;

    &.is-transparent {
      opacity: 0.3;
    }
  }
}

// Box styling
.box {
  &.dark {
    border: 2px $dark solid;
  }
  &.is-primary {
    border: 2px $primary solid;
  }
  &.is-link {
    border: 2px $link solid;
  }
  &.is-info {
    border: 2px $info solid;
  }
  &.is-success {
    border: 2px $success solid;
  }
  &.is-warning {
    border: 2px $warning solid;
  }
  &.is-danger {
    border: 2px $danger solid;
  }
}

// Panel styling
.panel {
  // Panel heading
  .panel-heading {
    @extend .menu-label;
    @extend .mb-0;
  }

  // Panel form
  .panel-block.is-form {
    @extend .is-flex-direction-column;

    & > .field {
      @extend .is-align-self-stretch;
      @extend .my-2;
    }
  }

  // Panel link
  a.panel-block {
    &:hover {
      color: $panel-block-color;
    }
  }
}

// Dialog styling
.dialog {
  // Modal card footer
  .modal-card .modal-card-foot {
    // Buttons in the card footer
    .button {
      @extend .is-light;
      @extend .has-text-weight-normal;
    }
  }
}

// Image detail styling
.image-details {
  // Name text for the image thumbnail
  .image-details-name {
    @extend .is-size-4;
    @extend .has-text-weight-bold;
  }

  // User name text for the image thumbnail
  .image-details-user {
    @extend .is-size-6;
  }

  // Image for the image details
  .image {
    @extend .mx-auto;
    @extend .my-0;

    img {
      @media screen and (min-width: $tablet) {
        max-height: calc(100vh - 174px);
        width: auto;
      }
    }
  }
}

// Image thumbnail styling
.image-thumbnail {
  @extend .has-text-centered;

  // Name text for the image thumbnail
  .image-thumbnail-name {
    @extend .is-size-6;
    @extend .has-text-weight-bold;
  }

  // User name text for the image thumbnail
  .image-thumbnail-user {
    @extend .is-size-7;
  }

  // Image for the image thumbnail
  .image {
    img {
      width: auto;
      height: 10rem;
      max-width: 100%;
    }
  }
}

// Image thumbnail list styling
.image-thumbnail-list {
  // Columns for the image thumbnail list
  .columns {
    @extend .is-multiline;

    // Column for the image thumbnail list
    .column {
      @extend .is-narrow;
      @extend .is-clipped;
      @extend .is-half;
      @extend .is-one-third-desktop;
      @extend .is-one-quarter-widescreen;
      @extend .is-one-fifth-fullhd;
    }
  }
}

// User thumbnail list styling
.user-thumbnail-list {
  // Columns for the user thumbnail list
  .columns {
    @extend .is-mobile;
    @extend .is-multiline;

    // Column for the image thumbnail list
    .column {
      @extend .is-narrow;
      @extend .is-half;
    }
  }
}


// The columns class for images
.image-tiles {
  @extend .columns;
  @extend .is-mobile;
  @extend .is-multiline;
  @extend .is-justify-content-left;
  @extend .is-align-items-flex-start;
  @extend .my-0;

  // The column class for images
  .image-tile {
    @extend .column;
    @extend .is-narrow-mobile;
    @extend .is-narrow;
    @extend .m-0;

    // Actual image styling
    .image {
      @extend .m-0;

      img {
        @extend .p-0;

        width: auto;
        height: 7.5rem;
        margin: auto;
      }
    }
  }
}
